PG_VECTOR_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/rag
PG_VECTOR_COLLECTION_NAME=documents

OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
OPENAI_LLM_MODEL='gpt-5.4-nano'

GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='gemini-embedding-2'
GOOGLE_LLM_MODEL='gemini-2.5-flash'

# PDF_PATH=
